@charset "UTF-8";
/*!
    Copyright © Gogs 2014, all right reversed. 
*/
/* ============================================ */
/* This file has a mobile-to-desktop breakpoint */
/* ============================================ */
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px; } }
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.grid-container:before,
.clearfix:before,
.grid-container:after,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.grid-container:after,
.clearfix:after {
  clear: both; }

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px; }

.grid-5,
.mobile-grid-5,
.grid-10,
.mobile-grid-10,
.grid-15,
.mobile-grid-15,
.grid-20,
.mobile-grid-20,
.grid-25,
.mobile-grid-25,
.grid-30,
.mobile-grid-30,
.grid-35,
.mobile-grid-35,
.grid-40,
.mobile-grid-40,
.grid-45,
.mobile-grid-45,
.grid-50,
.mobile-grid-50,
.grid-55,
.mobile-grid-55,
.grid-60,
.mobile-grid-60,
.grid-65,
.mobile-grid-65,
.grid-70,
.mobile-grid-70,
.grid-75,
.mobile-grid-75,
.grid-80,
.mobile-grid-80,
.grid-85,
.mobile-grid-85,
.grid-90,
.mobile-grid-90,
.grid-95,
.mobile-grid-95,
.grid-100,
.mobile-grid-100,
.grid-33,
.mobile-grid-33,
.grid-66,
.mobile-grid-66 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px; }

.grid-parent {
  padding-left: 0;
  padding-right: 0; }

@media screen and (max-width: 767px) {
  .mobile-grid-100:before,
  .mobile-grid-100:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0; }

  .mobile-grid-100:after {
    clear: both; }

  .mobile-push-5,
  .mobile-pull-5,
  .mobile-push-10,
  .mobile-pull-10,
  .mobile-push-15,
  .mobile-pull-15,
  .mobile-push-20,
  .mobile-pull-20,
  .mobile-push-25,
  .mobile-pull-25,
  .mobile-push-30,
  .mobile-pull-30,
  .mobile-push-35,
  .mobile-pull-35,
  .mobile-push-40,
  .mobile-pull-40,
  .mobile-push-45,
  .mobile-pull-45,
  .mobile-push-50,
  .mobile-pull-50,
  .mobile-push-55,
  .mobile-pull-55,
  .mobile-push-60,
  .mobile-pull-60,
  .mobile-push-65,
  .mobile-pull-65,
  .mobile-push-70,
  .mobile-pull-70,
  .mobile-push-75,
  .mobile-pull-75,
  .mobile-push-80,
  .mobile-pull-80,
  .mobile-push-85,
  .mobile-pull-85,
  .mobile-push-90,
  .mobile-pull-90,
  .mobile-push-95,
  .mobile-pull-95,
  .mobile-push-33,
  .mobile-pull-33,
  .mobile-push-66,
  .mobile-pull-66 {
    position: relative; }

  .hide-on-mobile {
    display: none !important; }

  .mobile-grid-5 {
    float: left;
    width: 5%; }

  .mobile-prefix-5 {
    margin-left: 5%; }

  .mobile-suffix-5 {
    margin-right: 5%; }

  .mobile-push-5 {
    left: 5%; }

  .mobile-pull-5 {
    left: -5%; }

  .mobile-grid-10 {
    float: left;
    width: 10%; }

  .mobile-prefix-10 {
    margin-left: 10%; }

  .mobile-suffix-10 {
    margin-right: 10%; }

  .mobile-push-10 {
    left: 10%; }

  .mobile-pull-10 {
    left: -10%; }

  .mobile-grid-15 {
    float: left;
    width: 15%; }

  .mobile-prefix-15 {
    margin-left: 15%; }

  .mobile-suffix-15 {
    margin-right: 15%; }

  .mobile-push-15 {
    left: 15%; }

  .mobile-pull-15 {
    left: -15%; }

  .mobile-grid-20 {
    float: left;
    width: 20%; }

  .mobile-prefix-20 {
    margin-left: 20%; }

  .mobile-suffix-20 {
    margin-right: 20%; }

  .mobile-push-20 {
    left: 20%; }

  .mobile-pull-20 {
    left: -20%; }

  .mobile-grid-25 {
    float: left;
    width: 25%; }

  .mobile-prefix-25 {
    margin-left: 25%; }

  .mobile-suffix-25 {
    margin-right: 25%; }

  .mobile-push-25 {
    left: 25%; }

  .mobile-pull-25 {
    left: -25%; }

  .mobile-grid-30 {
    float: left;
    width: 30%; }

  .mobile-prefix-30 {
    margin-left: 30%; }

  .mobile-suffix-30 {
    margin-right: 30%; }

  .mobile-push-30 {
    left: 30%; }

  .mobile-pull-30 {
    left: -30%; }

  .mobile-grid-35 {
    float: left;
    width: 35%; }

  .mobile-prefix-35 {
    margin-left: 35%; }

  .mobile-suffix-35 {
    margin-right: 35%; }

  .mobile-push-35 {
    left: 35%; }

  .mobile-pull-35 {
    left: -35%; }

  .mobile-grid-40 {
    float: left;
    width: 40%; }

  .mobile-prefix-40 {
    margin-left: 40%; }

  .mobile-suffix-40 {
    margin-right: 40%; }

  .mobile-push-40 {
    left: 40%; }

  .mobile-pull-40 {
    left: -40%; }

  .mobile-grid-45 {
    float: left;
    width: 45%; }

  .mobile-prefix-45 {
    margin-left: 45%; }

  .mobile-suffix-45 {
    margin-right: 45%; }

  .mobile-push-45 {
    left: 45%; }

  .mobile-pull-45 {
    left: -45%; }

  .mobile-grid-50 {
    float: left;
    width: 50%; }

  .mobile-prefix-50 {
    margin-left: 50%; }

  .mobile-suffix-50 {
    margin-right: 50%; }

  .mobile-push-50 {
    left: 50%; }

  .mobile-pull-50 {
    left: -50%; }

  .mobile-grid-55 {
    float: left;
    width: 55%; }

  .mobile-prefix-55 {
    margin-left: 55%; }

  .mobile-suffix-55 {
    margin-right: 55%; }

  .mobile-push-55 {
    left: 55%; }

  .mobile-pull-55 {
    left: -55%; }

  .mobile-grid-60 {
    float: left;
    width: 60%; }

  .mobile-prefix-60 {
    margin-left: 60%; }

  .mobile-suffix-60 {
    margin-right: 60%; }

  .mobile-push-60 {
    left: 60%; }

  .mobile-pull-60 {
    left: -60%; }

  .mobile-grid-65 {
    float: left;
    width: 65%; }

  .mobile-prefix-65 {
    margin-left: 65%; }

  .mobile-suffix-65 {
    margin-right: 65%; }

  .mobile-push-65 {
    left: 65%; }

  .mobile-pull-65 {
    left: -65%; }

  .mobile-grid-70 {
    float: left;
    width: 70%; }

  .mobile-prefix-70 {
    margin-left: 70%; }

  .mobile-suffix-70 {
    margin-right: 70%; }

  .mobile-push-70 {
    left: 70%; }

  .mobile-pull-70 {
    left: -70%; }

  .mobile-grid-75 {
    float: left;
    width: 75%; }

  .mobile-prefix-75 {
    margin-left: 75%; }

  .mobile-suffix-75 {
    margin-right: 75%; }

  .mobile-push-75 {
    left: 75%; }

  .mobile-pull-75 {
    left: -75%; }

  .mobile-grid-80 {
    float: left;
    width: 80%; }

  .mobile-prefix-80 {
    margin-left: 80%; }

  .mobile-suffix-80 {
    margin-right: 80%; }

  .mobile-push-80 {
    left: 80%; }

  .mobile-pull-80 {
    left: -80%; }

  .mobile-grid-85 {
    float: left;
    width: 85%; }

  .mobile-prefix-85 {
    margin-left: 85%; }

  .mobile-suffix-85 {
    margin-right: 85%; }

  .mobile-push-85 {
    left: 85%; }

  .mobile-pull-85 {
    left: -85%; }

  .mobile-grid-90 {
    float: left;
    width: 90%; }

  .mobile-prefix-90 {
    margin-left: 90%; }

  .mobile-suffix-90 {
    margin-right: 90%; }

  .mobile-push-90 {
    left: 90%; }

  .mobile-pull-90 {
    left: -90%; }

  .mobile-grid-95 {
    float: left;
    width: 95%; }

  .mobile-prefix-95 {
    margin-left: 95%; }

  .mobile-suffix-95 {
    margin-right: 95%; }

  .mobile-push-95 {
    left: 95%; }

  .mobile-pull-95 {
    left: -95%; }

  .mobile-grid-33 {
    float: left;
    width: 33.33333%; }

  .mobile-prefix-33 {
    margin-left: 33.33333%; }

  .mobile-suffix-33 {
    margin-right: 33.33333%; }

  .mobile-push-33 {
    left: 33.33333%; }

  .mobile-pull-33 {
    left: -33.33333%; }

  .mobile-grid-66 {
    float: left;
    width: 66.66667%; }

  .mobile-prefix-66 {
    margin-left: 66.66667%; }

  .mobile-suffix-66 {
    margin-right: 66.66667%; }

  .mobile-push-66 {
    left: 66.66667%; }

  .mobile-pull-66 {
    left: -66.66667%; }

  .mobile-grid-100 {
    clear: both;
    width: 100%; } }
@media screen and (min-width: 768px) {
  .grid-100:before,
  .grid-100:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0; }

  .grid-100:after {
    clear: both; }

  .push-5,
  .pull-5,
  .push-10,
  .pull-10,
  .push-15,
  .pull-15,
  .push-20,
  .pull-20,
  .push-25,
  .pull-25,
  .push-30,
  .pull-30,
  .push-35,
  .pull-35,
  .push-40,
  .pull-40,
  .push-45,
  .pull-45,
  .push-50,
  .pull-50,
  .push-55,
  .pull-55,
  .push-60,
  .pull-60,
  .push-65,
  .pull-65,
  .push-70,
  .pull-70,
  .push-75,
  .pull-75,
  .push-80,
  .pull-80,
  .push-85,
  .pull-85,
  .push-90,
  .pull-90,
  .push-95,
  .pull-95,
  .push-33,
  .pull-33,
  .push-66,
  .pull-66 {
    position: relative; }

  .hide-on-desktop {
    display: none !important; }

  .grid-5 {
    float: left;
    width: 5%; }

  .prefix-5 {
    margin-left: 5%; }

  .suffix-5 {
    margin-right: 5%; }

  .push-5 {
    left: 5%; }

  .pull-5 {
    left: -5%; }

  .grid-10 {
    float: left;
    width: 10%; }

  .prefix-10 {
    margin-left: 10%; }

  .suffix-10 {
    margin-right: 10%; }

  .push-10 {
    left: 10%; }

  .pull-10 {
    left: -10%; }

  .grid-15 {
    float: left;
    width: 15%; }

  .prefix-15 {
    margin-left: 15%; }

  .suffix-15 {
    margin-right: 15%; }

  .push-15 {
    left: 15%; }

  .pull-15 {
    left: -15%; }

  .grid-20 {
    float: left;
    width: 20%; }

  .prefix-20 {
    margin-left: 20%; }

  .suffix-20 {
    margin-right: 20%; }

  .push-20 {
    left: 20%; }

  .pull-20 {
    left: -20%; }

  .grid-25 {
    float: left;
    width: 25%; }

  .prefix-25 {
    margin-left: 25%; }

  .suffix-25 {
    margin-right: 25%; }

  .push-25 {
    left: 25%; }

  .pull-25 {
    left: -25%; }

  .grid-30 {
    float: left;
    width: 30%; }

  .prefix-30 {
    margin-left: 30%; }

  .suffix-30 {
    margin-right: 30%; }

  .push-30 {
    left: 30%; }

  .pull-30 {
    left: -30%; }

  .grid-35 {
    float: left;
    width: 35%; }

  .prefix-35 {
    margin-left: 35%; }

  .suffix-35 {
    margin-right: 35%; }

  .push-35 {
    left: 35%; }

  .pull-35 {
    left: -35%; }

  .grid-40 {
    float: left;
    width: 40%; }

  .prefix-40 {
    margin-left: 40%; }

  .suffix-40 {
    margin-right: 40%; }

  .push-40 {
    left: 40%; }

  .pull-40 {
    left: -40%; }

  .grid-45 {
    float: left;
    width: 45%; }

  .prefix-45 {
    margin-left: 45%; }

  .suffix-45 {
    margin-right: 45%; }

  .push-45 {
    left: 45%; }

  .pull-45 {
    left: -45%; }

  .grid-50 {
    float: left;
    width: 50%; }

  .prefix-50 {
    margin-left: 50%; }

  .suffix-50 {
    margin-right: 50%; }

  .push-50 {
    left: 50%; }

  .pull-50 {
    left: -50%; }

  .grid-55 {
    float: left;
    width: 55%; }

  .prefix-55 {
    margin-left: 55%; }

  .suffix-55 {
    margin-right: 55%; }

  .push-55 {
    left: 55%; }

  .pull-55 {
    left: -55%; }

  .grid-60 {
    float: left;
    width: 60%; }

  .prefix-60 {
    margin-left: 60%; }

  .suffix-60 {
    margin-right: 60%; }

  .push-60 {
    left: 60%; }

  .pull-60 {
    left: -60%; }

  .grid-65 {
    float: left;
    width: 65%; }

  .prefix-65 {
    margin-left: 65%; }

  .suffix-65 {
    margin-right: 65%; }

  .push-65 {
    left: 65%; }

  .pull-65 {
    left: -65%; }

  .grid-70 {
    float: left;
    width: 70%; }

  .prefix-70 {
    margin-left: 70%; }

  .suffix-70 {
    margin-right: 70%; }

  .push-70 {
    left: 70%; }

  .pull-70 {
    left: -70%; }

  .grid-75 {
    float: left;
    width: 75%; }

  .prefix-75 {
    margin-left: 75%; }

  .suffix-75 {
    margin-right: 75%; }

  .push-75 {
    left: 75%; }

  .pull-75 {
    left: -75%; }

  .grid-80 {
    float: left;
    width: 80%; }

  .prefix-80 {
    margin-left: 80%; }

  .suffix-80 {
    margin-right: 80%; }

  .push-80 {
    left: 80%; }

  .pull-80 {
    left: -80%; }

  .grid-85 {
    float: left;
    width: 85%; }

  .prefix-85 {
    margin-left: 85%; }

  .suffix-85 {
    margin-right: 85%; }

  .push-85 {
    left: 85%; }

  .pull-85 {
    left: -85%; }

  .grid-90 {
    float: left;
    width: 90%; }

  .prefix-90 {
    margin-left: 90%; }

  .suffix-90 {
    margin-right: 90%; }

  .push-90 {
    left: 90%; }

  .pull-90 {
    left: -90%; }

  .grid-95 {
    float: left;
    width: 95%; }

  .prefix-95 {
    margin-left: 95%; }

  .suffix-95 {
    margin-right: 95%; }

  .push-95 {
    left: 95%; }

  .pull-95 {
    left: -95%; }

  .grid-33 {
    float: left;
    width: 33.33333%; }

  .prefix-33 {
    margin-left: 33.33333%; }

  .suffix-33 {
    margin-right: 33.33333%; }

  .push-33 {
    left: 33.33333%; }

  .pull-33 {
    left: -33.33333%; }

  .grid-66 {
    float: left;
    width: 66.66667%; }

  .prefix-66 {
    margin-left: 66.66667%; }

  .suffix-66 {
    margin-right: 66.66667%; }

  .push-66 {
    left: 66.66667%; }

  .pull-66 {
    left: -66.66667%; }

  .grid-100 {
    clear: both;
    width: 100%; } }
/* Eric Meyer's Reset CSS v2.0 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: normal 18px/1.4em 'Lato', sans-serif, Microsoft Yahei;
  background: #EFEFEF; }

a {
  color: #D9453D;
  text-decoration: none; }

a:hover {
  color: #FF635A;
  text-decoration: underline; }

b {
  font-weight: bold; }

p {
  margin: 1em 0; }

p:first-child {
  margin-top: 0; }

nav,
main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

nav {
  z-index: 2;
  padding: 10px 25px;
  background: #428BCA;
  color: #FFF; }

#logo {
  max-height: 65px;
  vertical-align: middle;
  margin-right: 50px; }

#menu-link {
  display: none; }

nav a {
  display: inline-block;
  padding: 20px;
  color: #C8E0FF;
  transition: color .2s; }

nav a:hover {
  color: #FFF;
  text-decoration: none; }

iframe {
  width: 100px;
  height: 1.5em;
  vertical-align: middle;
  margin-bottom: 15px; }

#lang {
  float: right;
  margin-top: 24px; }

h1,
h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 1.25em; }

h1 {
  font-size: 54px;
  font-weight: bold; }

h2 {
  font-size: 40px;
  margin-bottom: .5em; }

main {
  position: relative;
  z-index: 1; }

main section {
  padding: 50px 0; }

main > .grid-container:first-child {
  margin: 30px auto; }

.side-nav {
  font-size: 14px;
  line-height: 1em; }

.side-nav ol,
.side-nav ul {
  list-style-type: none; }

.side-nav li.group {
  margin-left: 0; }

.side-nav .section {
  font-weight: bold;
  color: #666;
  margin-top: 1em; }

.content {
  background: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

article {
  padding: 3%; }

button,
.button,
input[type=button] {
  padding: 10px 25px;
  border-radius: 5px;
  color: #FFF;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  transition: background .2s; }

button:hover,
.button:hover,
input[type=button]:hover {
  color: #FFF;
  text-decoration: none; }

.blue {
  background: #428BCA; }

.blue:hover {
  background: #539CDB; }

.darkblue {
  background: #285370; }

.darkblue:hover {
  background: #276996; }

.green {
  background: #65AD4E; }

.green:hover {
  background: #71BF57; }

.red {
  background: #DB3F36; }

.red:hover {
  background: #C4362E; }

.clear {
  border: 0;
  padding: 0;
  margin: 0;
  clear: both; }

code {
  font-size: 13px;
  font-family: 'Monaco', monospace;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px; }

ul,
ol {
  margin: .5em 0; }

ul:first-child,
ol:first-child {
  margin-top: 0; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

li {
  margin-left: 2em; }

.scroll-help {
  font-size: 18px;
  text-align: center;
  margin-bottom: .25em;
  color: #AAA;
  font-style: italic; }

.scroll-help .fa {
  margin: 0 10px; }

.nowrap {
  white-space: nowrap; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.hide-on-wide {
  display: none; }

.block {
  display: block; }

footer {
  padding: 50px 0;
  background: #222;
  color: #DDD;
  font-size: 16px; }

footer .block {
  color: #DDD; }

footer .white {
  color: #DDD; }

footer a.white:hover {
  color: #FFF;
  text-decoration: none; }

footer img {
  vertical-align: middle; }

footer .button {
  font-size: 18px; }

#footer-col-2 {
  text-align: center; }

#footer-col-3 {
  text-align: right; }

.social-media a {
  display: inline-block;
  border-radius: 2px;
  padding: 3px 8px;
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  margin: 0 3px; }

.social-media .github {
  background: #AAA; }

.social-media .github:hover {
  background: #CCC; }

.social-media .twitter {
  background: #00ACED; }

.social-media .twitter:hover {
  background: #21C2FF; }

.social-media .google {
  background: #C03D20; }

.social-media .google:hover {
  background: #D56060; }

.social-media .weibo {
  background: #3B5998; }

.social-media .weibo:hover {
  background: #4C70BA; }

.sep {
  width: 30%;
  max-width: 250px;
  border: 0;
  background: none;
  border-top: 1px dotted #AAA;
  margin: 35px auto; }

@media (max-width: 1200px) {
  h2 {
    font-size: 36px; }

  main section {
    padding: 35px 0; } }
@media (max-width: 860px) {
  #logo {
    margin-right: 15px; }

  nav a {
    font-size: 14px;
    padding: 20px 10px; }

  footer {
    font-size: 14px; } }
@media (max-width: 767px) {
  #get-started-buttons {
    text-align: center !important; }

  footer div {
    text-align: center !important; }

  footer .button {
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 14px; }

  #footer-col-1 {
    margin-bottom: 20px; }

  #footer-col-2 {
    text-align: center; }

  #footer-col-3 {
    text-align: right; }

  article {
    margin-top: 50px; } }
@media (min-width: 651px) {
  #wide-nav {
    display: inline-block !important; } }
@media (max-width: 650px) {
  #logo {
    float: left; }

  nav {
    text-align: right !important; }

  nav a {
    font-size: 16px; }

  #menu-link {
    display: inline-block; }

  #lang {
    float: none; }

  #wide-nav {
    display: none; }

  #wide-nav a {
    text-align: left;
    display: block;
    padding: 8px;
    border-bottom: 1px solid #5DA2CF; }

  h1 {
    font-size: 42px; }

  h2 {
    font-size: 32px; }

  article {
    font-size: 16px; }

  .hide-on-wide {
    display: inline-block; } }
#disqus_thread {
  margin-top: 20px; }

body {
  background: #FFF; }

#logo {
  display: none; }

nav {
  text-align: center; }

h1 {
  font-size: 98px; }

h2 {
  font-size: 56px; }

#home-link {
  display: none; }

#home-logo {
  max-width: 250px;
  margin-top: 30px;
  margin-right: 50px;
  float: left; }

#promo-area {
  padding-bottom: 50px;
  padding-top: 0; }

#promo-area h1,
#promo-area h2 {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5); }

#promo-area {
  background: #428BCA;
  color: #FFF; }

#promo-container {
  margin-left: 300px; }

.points {
  color: #666; }

.points b {
  color: #000;
  font-size: 20px;
  display: inline-block; }

.points .fa {
  color: #D9453D;
  /*#2585D1;*/
  font-size: 52px;
  margin-right: 10px;
  vertical-align: middle; }

.carousel {
  position: relative;
  background: #E0E0E0;
  max-height: 400px;
  width: 100%;
  white-space: nowrap;
  padding: 0; }

.carousel .images {
  overflow-x: auto;
  width: 100%;
  text-align: center; }

.carousel img {
  max-height: 400px;
  margin-right: 5px;
  z-index: 1; }

.carousel .fader {
  height: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#e0e0e0', GradientType=1)";
  width: 10%;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0; }

.ribbon {
  background: #FFFDE0;
  border-top: 1px solid #FDF48B;
  border-bottom: 1px solid #FDF48B;
  margin-top: 20px; }

#clientele img {
  max-height: 50px;
  background: #FFF;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 5px; }
#clientele a:hover {
  text-decoration: none; }
  #clientele a:hover img {
    border-color: #428BCA; }

@media (max-width: 860px) {
  #home-logo {
    margin-top: 75px;
    max-width: 200px; }

  #promo-container {
    margin-left: 250px; } }
@media (max-width: 767px) {
  .grid-33:not(:first-child).points {
    margin-top: 50px; }

  .carousel {
    max-height: 300px; } }
@media (max-width: 640px) {
  #promo-area {
    text-align: center; }

  #home-logo {
    float: none;
    margin: 0 auto;
    display: block; }

  #promo-container {
    margin-left: 0; } }
.nav-macaron {
  background: #191A1B; }
  .nav-macaron a {
    color: #FFFFFF; }
    .nav-macaron a:hover {
      color: #B6D1DD; }

.markdown {
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif; }
  .markdown pre {
    margin-bottom: 1em;
    background-color: #F8F8F8;
    border: 0px;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 8px 12px;
    border-radius: 3px; }
    .markdown pre code {
      margin: 0px;
      padding: 0px;
      background-color: transparent;
      border: medium none;
      word-wrap: normal;
      max-width: initial;
      display: inline;
      overflow: initial;
      line-height: inherit; }
  .markdown h1 {
    font-size: 60px; }
  .markdown h2 {
    font-size: 40px;
    margin: 10px 0 25px 0;
    border-bottom: 1px solid #EEE; }
  .markdown h3 {
    font-size: 30px;
    margin: 15px 0px; }
  .markdown h4 {
    font-size: 20px;
    margin: 10px 0px; }
  .markdown a {
    color: #4183C4; }
  .markdown table {
    border-collapse: collapse;
    border-spacing: 0px;
    display: block;
    overflow: auto;
    width: 100%;
    margin: 0px 0px 9px; }
    .markdown table tr {
      background-color: #FFF;
      border: 1px solid #CCC; }
    .markdown table td {
      border: 1px solid #DDD;
      padding: 6px 13px; }
  .markdown p img {
    max-width: 99%;
    height: auto;
    margin: 0 auto;
    display: block; }
  .markdown blockquote {
    border-left: 4px solid #ddd;
    margin-bottom: 16px; }
    .markdown blockquote p {
      font-size: 14px;
      padding: 5px 15px;
      color: #777; }

.docs-markdown .anchor-wrap {
  margin-top: -50px;
  padding-top: 50px; }
.docs-markdown h1 a.anchor,
.docs-markdown h2 a.anchor,
.docs-markdown h3 a.anchor,
.docs-markdown h4 a.anchor,
.docs-markdown h5 a.anchor,
.docs-markdown h6 a.anchor {
  text-decoration: none;
  line-height: 1;
  padding-left: 0;
  margin-left: 5px;
  top: 15%; }
.docs-markdown a span.octicon {
  font-size: 16px;
  font-family: "FontAwesome";
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased; }
.docs-markdown a span.octicon-link {
  display: none;
  color: #000; }
.docs-markdown a span.octicon-link:before {
  content: "\f0c1"; }
.docs-markdown h1:hover .octicon-link,
.docs-markdown h2:hover .octicon-link,
.docs-markdown h3:hover .octicon-link,
.docs-markdown h4:hover .octicon-link,
.docs-markdown h5:hover .octicon-link,
.docs-markdown h6:hover .octicon-link {
  display: inline-block; }
