		<footer>
			<div class="grid-container">
				<div class="grid-30" id="footer-col-1">
					{{if eq .i18n.Lang "zh-CN"}}
					基于 <a href="https://github.com/Unknwon/macaron">Macaron</a> 框架构建。 
					<br>
					Logo 由 <a href="http://weibo.com/rocker1989">Rocker</a> 设计。
					{{else}}
					Powered by <a href="https://github.com/Unknwon/macaron">Macaron</a>. 
					<br>
					Logo by <a href="http://weibo.com/rocker1989">Rocker</a>.
					{{end}}
				</div>
				<div class="grid-40" id="footer-col-2">
					&copy; 2015 Gogs
					<br>
					<a href="https://github.com/gogits/gogs/blob/master/LICENSE">MIT License</a>
				</div>
				<div class="grid-30" id="footer-col-3">
					<a class="green button" href="/donate"><i class="fa fa-heart"></i>&nbsp; {{.i18n.Tr "donate"}}</a>
				</div>
			</div>
		</footer>
	</body>
</html>
