<!DOCTYPE html>
<html>
	<head>
		<title>Gogs: Go Git Service - {{.i18n.Tr "gogs_desc"}}</title>
		<meta charset="utf-8">
		<meta name="description" content="{{.i18n.Tr "gogs_desc"}}" />
		<meta name="keywords" content="Go, golang, git, self-hosted, gogs">
		<meta name="author" content="无闻, Unknown" />

		<link rel="shortcut icon" href="/imgs/favicon.ico">
		<link rel="stylesheet" href="http://cdn.staticfile.org/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/prettify.css">
		<link rel="stylesheet" href="/css/main.css">

		<script src="http://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
		<script src="/js/gogsweb.min.js"></script>
	</head>
	<body>