{{template "gogs/head" .}}
{{template "gogs/navbar" .}}
<main>
	<div class="grid-container">
		<div class="grid-20 side-nav">
			<!-- Sidebar navigation goes here -->
			<div id="docs-collapse" class="collapse navbar-collapse docs-sidenav">
                {{with .DocRoot.Doc}}
                    {{if .HasContent}}
                        <div class="section"><a class="{{if eq $.Doc.Link .Link}}active{{end}} item" href="/docs">{{.Name}}</a></div>
                    {{end}}
                    {{template "base/docs" dict "root" $ "Doc" .}}
                {{end}}
            </div>
        </div>
		<div class="grid-80">
			<article class="content">
				<div class="markdown docs-markdown">
                        {{.Data|str2html}}
                </div>
			</article>
	        <script type="text/javascript">
	            var disqus_url = 'http://gogs.io/docs/' + '{{.Doc.Link}}?lang={{.Lang}}';
	        </script>
	        {{template "base/disqus" .}}
		</div>
	</div>
</main>
{{template "gogs/footer" .}}