{{template "gogs/head" .}}
{{template "gogs/navbar" .}}
<main>
	<section id="promo-area">
		<div class="grid-container">
			<div class="grid-100">
				<img src="/imgs/gogs-lg.png" id="home-logo">
				<div id="promo-container">
					<h1>Gogs</h1>
					<h2>{{.i18n.Tr "gogs_desc"}}</h2>
					<a href="/docs/installation" class="button darkblue"><i class="fa fa-download"></i>&nbsp; {{.i18n.Tr "download"}}</a>
					<a href="https://try.gogs.io" class="button green">{{.i18n.Tr "try_demo"}} &raquo;</a>

					<br><br>
					
					<iframe src="http://ghbtns.com/github-btn.html?user=gogits&repo=gogs&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0"></iframe>
					<iframe src="http://ghbtns.com/github-btn.html?user=gogits&repo=gogs&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0"></iframe>
					<iframe src="https://api.travis-ci.org/gogits/gogs.svg" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="grid-container">
            {{if eq .i18n.Lang "zh-CN"}}
			<div class="grid-25 points">
				<i class="fa fa-magic"></i>
				<b>易安装</b>
				<p>您除了可以根据操作系统平台通过 <a href="/docs/installation/install_from_binary.html">二进制运行</a>，还可以通过 <a href="https://github.com/gogits/gogs/tree/master/docker">Docker</a> 或 <a href="https://github.com/geerlingguy/ansible-vagrant-examples/tree/master/gogs">Vagrant</a>，以及 <a href="/docs/installation/install_from_packages.html">包管理</a> 安装。</p>
			</div>
			<div class="grid-25 points">
				<i class="fa fa-laptop"></i>
				<b>跨平台</b>
				<p>任何 <a href="http://golang.org/">Go 语言</a> 支持的平台都可以运行 Gogs，包括 Windows、Mac、Linux 以及 ARM。</p>
			</div>
			<div class="grid-25 points">
				<i class="fa fa-send-o"></i>
				<b>轻量级</b>
				<p>一个廉价的树莓派的配置足以满足 Gogs 的最低系统硬件要求。</p>
			</div>
			<div class="grid-25 points">
				<i class="fa fa-code"></i>
				<b>开源化</b>
				<p>所有的代码都开源在 <a href="https://github.com/gogits/gogs/">GitHub</a> 上，赶快加入我们来共同发展这个伟大的项目！</p>
			</div>
            {{else}}
			<div class="grid-25 points">
				<i class="fa fa-magic"></i>
				<b>Easy to install</b>
				<p>Simply <a href="/docs/installation/install_from_binary.html">run the binary</a> for your platform. Or ship Gogs with <a href="https://github.com/gogits/gogs/tree/master/docker">Docker</a> or <a href="https://github.com/geerlingguy/ansible-vagrant-examples/tree/master/gogs">Vagrant</a>, or get it <a href="/docs/installation/install_from_packages.html">packaged</a>.</p>
			</div>
			<div class="grid-25 points">
				<i class="fa fa-laptop"></i>
				<b>Cross-platform</b>
				<p>Gogs runs anywhere <a href="http://golang.org/">Go</a> can compile for: Windows, Mac, Linux, ARM, etc.</p>
			</div>
			<div class="grid-25 points">
				<i class="fa fa-send-o"></i>
				<b>Lightweight</b>
				<p>Gogs has low minimal requirements and can run on an inexpensive Raspberry Pi.</p>
			</div>
			<div class="grid-25 points">
				<i class="fa fa-code"></i>
				<b>Open Source</b>
				<p>It's all on <a href="https://github.com/gogits/gogs/">GitHub</a>! Join us by contributing to make this project even better.</p>
			</div>
			{{end}}
		</div>
	</section>

	<h2 class="text-center">
		{{.i18n.Tr "screenshots"}}
	</h2>
	<div class="scroll-help">
			<i class="fa fa-caret-left"></i>
			{{.i18n.Tr "scroll"}}
			<i class="fa fa-caret-right"></i>
	</div>

	<section class="carousel">
		<div class="fader"></div>
		<div class="images">
			<img src="/imgs/screenshoots/1.png">
			<img src="/imgs/screenshoots/2.png">
			<img src="/imgs/screenshoots/5.png">
			<img src="/imgs/screenshoots/10.png">
			<img src="/imgs/screenshoots/11.png">
		</div>
	</section>

	<section class="ribbon">
		<h2 class="text-center">{{.i18n.Tr "get_started"}}</h2>

		<div class="grid-container">
			<div id="get-started-buttons" class="grid-50 text-right">
				<a href="/docs/installation" class="button blue"><i class="fa fa-download"></i>&nbsp; {{.i18n.Tr "download"}}</a>
				<a href="https://try.gogs.io" class="button green">{{.i18n.Tr "try_demo"}} &raquo;</a>
				<br><br>
			</div>
			<div class="grid-50">
				<ul>
                    {{if eq .i18n.Lang "zh-CN"}}
                        <li><i class="icon-angle-right"></i> <a href="/docs/intro/faqs.html">常见问题</a></li>
                        <li><i class="icon-angle-right"></i> <a href="/docs/intro/known_issues.html">已知问题</a></li>
                        <li><i class="icon-angle-right"></i> <a href="/docs/intro/troubleshooting.html">故障排查</a></li>
                        <li><i class="icon-angle-right"></i> <a href="/docs/advanced/configuration_cheat_sheet.html">配置文件手册</a></li>
                        <li><i class="icon-angle-right"></i> <a href="/docs/advanced/release_and_tips_blogs.html">公告与高阶指南</a></li>
                    {{else}}
                        <li><i class="icon-angle-right"></i> <a href="/docs/intro/faqs.html">FAQs</a></li>
                        <li><i class="icon-angle-right"></i> <a href="/docs/intro/known_issues.html">Known issues</a></li>
                        <li><i class="icon-angle-right"></i> <a href="/docs/intro/troubleshooting.html">Troubleshooting</a></li>
                        <li><i class="icon-angle-right"></i> <a href="/docs/advanced/configuration_cheat_sheet.html">Configuration Cheat Sheet</a></li>
                        <li><i class="icon-angle-right"></i> <a href="/docs/advanced/release_and_tips_blogs.html">Release notes and tips</a></li>
                    {{end}}
				</ul>
			</div>
		</div>
	</section>

	<section id="clientele" class="text-center">
		<h2>{{.i18n.Tr "who_are_use"}}</h2>
		<a target="_blank" href="http://cnssuestc.org/">
			<img src="/imgs/brands/cnssuestc.jpg">
		</a>
		<a  target="_blank"href="http://www.gxbolian.com.cn/">
			<img src="/imgs/brands/gxbolian.jpg">
		</a>
		<a target="_blank" href="http://www.prosnav.com/Default.aspx">
			<img src="/imgs/brands/prosnav.jpg">
		</a>
		<a target="_blank" href="http://www.igt.com/">
			<img src="/imgs/brands/igt.png">
		</a>
		<a target="_blank" href="http://xizhe.it/">
			<img src="/imgs/brands/xizhe.png">
		</a>
		
		<hr class="sep">

		<div class="social-media">
			<a target="_blank" href="https://github.com/gogits" class="github"><i class="fa fa-github"></i> GitHub</a>
			<a target="_blank" href="https://twitter.com/gogitservice" class="twitter"><i class="fa fa-twitter"></i> Twitter</a>
			<a target="_blank" href="https://plus.google.com/communities/115599856376145964459" class="google"><i class="fa fa-google-plus"></i> Google+</a>
			<a target="_blank" href="http://weibo.com/gogschina" class="weibo"><i class="fa fa-weibo"></i> 新浪微博</a>
		</div>
	</section>
</main>
{{template "gogs/footer" .}}