{{template "gogs/head" .}}
{{template "gogs/navbar" .}}
<main>
	<section id="promo-area">
		<div class="grid-container">
			<div class="grid-100">
				<img src="/imgs/gogs-lg.png" id="home-logo">
				<div id="promo-container">
					<h1>Gogs</h1>
					<h2>{{.i18n.Tr "gogs_desc"}}</h2>
					<a href="/docs/installation" class="button darkblue"><i class="fa fa-download"></i>&nbsp; {{.i18n.Tr "download"}}</a>
					<a href="https://try.gogs.io" class="button green">{{.i18n.Tr "try_demo"}} &raquo;</a>

					<br><br>
					
					<iframe src="http://ghbtns.com/github-btn.html?user=gogits&repo=gogs&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0"></iframe>
					<iframe src="http://ghbtns.com/github-btn.html?user=gogits&repo=gogs&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0"></iframe>
					<iframe src="https://api.travis-ci.org/gogits/gogs.svg" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="grid-container">
			<div class="grid-25 points">
				<i class="fa fa-magic"></i>
				<b>{{.i18n.Tr "easy_install"}}</b>
				<p>{{.i18n.Tr "easy_install_desc" | str2html}}</p>
			</div>
			<div class="grid-25 points">
				<i class="fa fa-laptop"></i>
				<b>{{.i18n.Tr "cross_platform"}}</b>
				<p>{{.i18n.Tr "cross_platform_desc" | str2html}}</p>
			</div>
			<div class="grid-25 points">
				<i class="fa fa-send-o"></i>
				<b>{{.i18n.Tr "lightweight"}}</b>
				<p>{{.i18n.Tr "lightweight_desc" | str2html}}</p>
			</div>
			<div class="grid-25 points">
				<i class="fa fa-code"></i>
				<b>{{.i18n.Tr "opensource"}}</b>
				<p>{{.i18n.Tr "opensource_desc" | str2html}}</p>
			</div>
		</div>
	</section>

	<h2 class="text-center">
		{{.i18n.Tr "screenshots"}}
	</h2>
	<div class="scroll-help">
			<i class="fa fa-caret-left"></i>
			{{.i18n.Tr "scroll"}}
			<i class="fa fa-caret-right"></i>
	</div>

	<section class="carousel">
		<div class="fader"></div>
		<div class="images">
			<img src="/imgs/screenshoots/1.png">
			<img src="/imgs/screenshoots/2.png">
			<img src="/imgs/screenshoots/5.png">
			<img src="/imgs/screenshoots/10.png">
			<img src="/imgs/screenshoots/11.png">
		</div>
	</section>

	<section class="ribbon">
		<h2 class="text-center">{{.i18n.Tr "get_started"}}</h2>

		<div class="grid-container">
			<div id="get-started-buttons" class="grid-50 text-right">
				<a href="/docs/installation" class="button blue"><i class="fa fa-download"></i>&nbsp; {{.i18n.Tr "download"}}</a>
				<a href="https://try.gogs.io" class="button green">{{.i18n.Tr "try_demo"}} &raquo;</a>
				<br><br>
			</div>
			<div class="grid-50">
				<ul>
            <li><i class="icon-angle-right"></i> <a href="/docs/intro/faqs.html">{{.i18n.Tr "faq"}}</a></li>
            <li><i class="icon-angle-right"></i> <a href="/docs/intro/known_issues.html">{{.i18n.Tr "known_issues"}}</a></li>
            <li><i class="icon-angle-right"></i> <a href="/docs/intro/troubleshooting.html">{{.i18n.Tr "troubleshooting"}}</a></li>
            <li><i class="icon-angle-right"></i> <a href="/docs/advanced/configuration_cheat_sheet.html">{{.i18n.Tr "cheat_sheet"}}</a></li>
            <li><i class="icon-angle-right"></i> <a href="/docs/advanced/release_and_tips_blogs.html">{{.i18n.Tr "release_notes"}}</a></li>
            <li><i class="icon-angle-right"></i> <a target="_blank" href="http://eepurl.com/bvu3Xb">{{.i18n.Tr "subscribe_news"}}</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section id="clientele" class="text-center">
		<h2>{{.i18n.Tr "who_are_use"}}</h2>
		<a target="_blank" href="http://cnssuestc.org/">
			<img src="/imgs/brands/cnssuestc.jpg">
		</a>
		<a  target="_blank"href="http://www.gxbolian.com.cn/">
			<img src="/imgs/brands/gxbolian.jpg">
		</a>
		<a target="_blank" href="http://www.prosnav.com/Default.aspx">
			<img src="/imgs/brands/prosnav.jpg">
		</a>
		<a target="_blank" href="http://www.igt.com/">
			<img src="/imgs/brands/igt.png">
		</a>
		<a target="_blank" href="http://xizhe.it/">
			<img src="/imgs/brands/xizhe.png">
		</a>
		<a target="_blank" href="https://notabug.org/">
			<img src="/imgs/brands/notabug.png">
		</a>
		<a target="_blank" href="http://www.yeeuu.com/">
			<img src="/imgs/brands/yeeuu.png">
		</a>
		
		<hr class="sep">

		<div class="social-media">
			<a target="_blank" href="https://github.com/gogits" class="github"><i class="fa fa-github"></i> GitHub</a>
			<a target="_blank" href="https://twitter.com/gogitservice" class="twitter"><i class="fa fa-twitter"></i> Twitter</a>
			<a target="_blank" href="https://plus.google.com/communities/115599856376145964459" class="google"><i class="fa fa-google-plus"></i> Google+</a>
			<a target="_blank" href="http://weibo.com/gogschina" class="weibo"><i class="fa fa-weibo"></i> 新浪微博</a>
		</div>
	</section>
</main>
{{template "gogs/footer" .}}