{{template "gogs/head" .}}
{{template "gogs/navbar" .}}
<main>
	<div class="grid-container">
		<div class="grid-100">
			<article class="content">
				<div class="markdown docs-markdown">
		                {{.Data|str2html}}
		        </div>
			</article>
	        <script type="text/javascript">
	            var disqus_url = 'http://gogs.io/docs/' + '{{.Doc.Link}}?lang={{.Lang}}';
	        </script>
	        {{template "gogs/disqus" .}}
		</div>
	</div>
</main>
{{template "gogs/footer" .}}